.dialogs {
  display: flex;
  flex-flow: row nowrap;
  height: 70vh;
  border: 1px solid #C7CBD1;
  padding: 10px;
  overflow: hidden;
}

.messages_wrap {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.message_items {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: auto;
}

.dialog_items {
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  align-items: center;
  height: 70vh;
}

.search_bar {
  width: 94%;
  margin: 0 auto;
}

.search_bar > input {
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid #C7CBD1;
  padding: 5px;
  box-sizing: border-box
} 

@media (max-width: 1024px) {
  .messages_wrap {
    width: 70%;
  }
  .dialog_items {
    width: 30%;
  }
  .search_bar {
    margin: 5px auto;
  }
}
@media (max-width: 320px) {
  .message_items {
    width: 65%;
  }
  .dialog_items {
    width: 35%;
  }
}