.friendList{
    margin-top: 50px;
    grid-area: friendList;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.item a{
    color: #FF9800;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px 0;
    display: block;
    width: 100%;
}

.item a.active{
    background-color: antiquewhite;
}

.item a:hover{
    background-color: whitesmoke;
}

.friends{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .friendList{
        margin-top: 0;
    }
}