.user_data {
  display: flex;
  flex-flow: row nowrap;
}

.user_data > img {
  width: 200px;
  height: 200px;
}

.user_info {
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.user_name {
  color: #FF9800;
  font-size: 24px;
  font-weight: 600;
}

.user_info_details {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-top: 40px;
}

.user_info_details a{
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 10px 0;
  margin-bottom: 3px;
  text-align: center;
  background-color: bisque;
  color: #FF9800;
  font-weight: 600;
}

.user_info_details a:hover {
  background-color: beige;
  transition: 300ms;
}

@media (max-width: 600px) {
  .user_data > img {
    width: 100px;
    height: 100px;
  }

  .user_name {
    font-size: 18px;
  }

  .user_info {
    font-size: 10px;
    padding-left: 10px;
  }

  .user_info_details {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media (max-width: 320px) {
  .user_info {
    padding-left: 5px;
  }

  .user_info_details {
    font-size: 12px;
    margin-top: 10px;
  }
}