.user_item {
    padding: 10px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

.unfollow_btn, .follow_btn {
    background: none;
    border: none;
    outline: none;
    border-radius: 10%;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}

.unfollow_btn:disabled, .follow_btn:disabled {
    opacity: 0.6;
}

.unfollow_btn{
    background-color: rgb(228, 58, 58);
}

.unfollow_btn:hover{
    background-color: rgb(248, 76, 76);
}

.unfollow_btn:active{
    background-color: rgb(190, 47, 47);
}

.follow_btn{
    background-color: rgb(54, 134, 54);
}

.follow_btn:hover {
    background-color: rgb(65, 158, 65);
}

.follow_btn:active {
    background-color:rgb(43, 105, 43);
}

.user_item img{
    border-radius: 50%;
}

.user_name {
    color: #000000;
    margin-left: 10px;
}

.user_status {
    color: #909090;
    font-size: 12px;
    margin-left: 10px;
}

.user_frame {
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}